[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.10"
autopep8 = "==1.5.4"
dj-database-url = "==0.5.0"
dj-static = "==0.0.6"
django-taggit = "==1.3.0"
djangorestframework = "==3.11.1"
gunicorn = "==20.0.4"
pillow = "==7.2.0"
psycopg2 = "==2.8.6"
pycodestyle = "==2.6.0"
pytz = "==2020.1"
six = "==1.15.0"
sqlparse = "==0.3.1"
static3 = "==0.7.0"
toml = "==0.10.1"
whitenoise = "==5.2.0"
django-allauth = "*"
dj-rest-auth = "*"
django-taggit-serializer = "*"
python-decouple = "*"
# mysqlclient = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
faker = "*"
# mysqlclient = {path = "./mysqlclient-1.4.6-cp38-cp38-win32.whl"}
model-mommy = "*"
coverage = "*"
django-filter = "*"
django = "*"
stripe = "*"

[requires]
python_version = "3.8"
